#logo {
    margin: 23px;
    width: 34px;
    height: 34px;
    display: inline-block;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    font-size: 0;
}

#logo .mix {
    display: inline-block; 
    width: 8px;
    height: 8px;
    margin: 1px;
    padding: 0;
}

#I {
    background: #999999;
}

#II{
    background: #999999;
}

#III{
    background: #999999;
}

#IV{
    background: #999999;
}

#V{
    background: #999999;
}

#VI{
    background: #999999;
}

#VII{
    background: #999999;
}

#VIII{
    background: #999999;
}

#IX{
    background: #999999;
}