.menu {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #000;
}

.menu li a {
    display: block;
    text-indent: -500em;
    height: 5em;
    width: 5em;
    line-height: 5em;
    text-align: center;
    color: #999;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}

.menu li a:hover,
.menu li:first-child a{
    background: #000;
    color: #fff;
}

/* class for current item */
.menu li.current a {
    background: #006ecc;
    color: #fff;
}

.menu li a:before {
    font-family: 'icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    text-indent: 0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.4em;
    -webkit-font-smoothing: antialiased;
}

.menu li a.icon-logo:before {
    content: "Modus";
    font-weight: 500;
    font-size: 140%;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}