
.navbar-search input {
    width: 80%;
    min-height: 34px;
    padding: 7px 8px;
    outline: none;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in 0;
    vertical-align: middle;
}

/* The CSS */
.navbar-search select {
    width: 100px;
    min-height: 34px;
    padding: 7px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    color: rgb(169, 169, 169);
    border: 1px solid #ccc;
    outline:none;
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance:none;
    appearance:none;
    cursor:pointer;
}

.navbar-search label { position:relative }
.navbar-search label:after {
    content:'<>';
    font: 11px "Consolas", monospace;
    color: #aaa;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px; 
    top: 4px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}
.navbar-search label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background: #fff;
    position:absolute;
    pointer-events:none;
    display:block;
}

.navbar-seperator {
    margin: 10px 0;
    font-size: 0;
}
.navbar-seperator div {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 2px;
    width: 20%;
}

.task-card {
    background: none repeat scroll 0 0 #888888;
    color: #FFF;
    float: left;
    height: 120px;    
    width: 200px;
    margin: 10px 10px 10px 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
}    
.task-card * {
    margin: 0;
    position: absolute;
}
.task-card .number {
    color: rgba(0, 0, 0, 0.5);
    font-size: 2.25em;
    font-weight: bold;
    right: 0.5em;
    top: 0;
}    
.task-card .symbol {
    color: #FFF;
    font-size: 6em;
    left: 0.1em;
    line-height: 1em;
    top: 0.4em;
}
.task-card .name {
    top: 1em;
    font-size: 1.1em;
    left: 0.8em;
}

.task-card:hover {
    cursor: pointer;
}
.task-card:hover h3{
    text-shadow: 0 0 10px white, 0 0 10px white;
}
.task-card:hover h2 {
    color: white;
}

.bg-color-orange {
  background-color: #ffae00 !important;
}

.bg-color-blue {
  background-color: #006ecc !important;
}

.bg-color-green {
  background-color: #17aa56 !important;
}

.bg-color-black {
  background-color: #242424 !important;
}

.bg-color-purple {
  background-color: #7b4f9d !important;
}

.bg-color-yellow {
  background-color: #ffc40d !important;
}

.bg-color-pink {
  background-color: #e671b8 !important;
}

.bg-color-gray {
  background-color: #555555 !important;
}
