
.navbar-search input {
    width: 80%;
    min-height: 34px;
    padding: 7px 8px;
    outline: none;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in 0;
    vertical-align: middle;
}

.task-card {
    background: none repeat scroll 0 0 #888888;
    color: #FFF;
    float: left;
    height: 120px;    
    width: 200px;
    margin: 10px 10px 10px 0;
    display: inline-block;
    position: relative;
    overflow: hidden;
}    
.task-card * {
    margin: 0;
    position: absolute;
}
.task-card .number {
    color: rgba(0, 0, 0, 0.5);
    font-size: 2.25em;
    font-weight: bold;
    right: 0.5em;
    top: 0;
}    
.task-card .symbol {
    color: #FFF;
    font-size: 6em;
    left: 0.1em;
    line-height: 1em;
    top: 0.4em;
}
.task-card .name {
    top: 1em;
    font-size: 1.1em;
    left: 0.8em;
}

.task-card:hover {
    cursor: pointer;
}
.task-card:hover h3{
    text-shadow: 0 0 10px white, 0 0 10px white;
}
.task-card:hover h2 {
    color: white;
}

.bg-color-orange {
  background-color: #f09609 !important;
}

.bg-color-purple {
  background-color: #7b4f9d !important;
}

.bg-color-greenDark {
  background-color: #008641 !important;
}

.bg-color-blue {
  background-color: #2e8bcc !important;
}

.bg-color-red {
  background-color: #e51400 !important;
}

.bg-color-green {
  background-color: #339933 !important;
}

.bg-color-blueDark {
  background-color: #20608e !important;
}

.bg-color-yellow {
  background-color: #ffc40d !important;
}

.bg-color-pink {
  background-color: #e671b8 !important;
}

.bg-color-darken {
  background-color: #1c1c1c !important;
}

.bg-color-gray {
  background-color: #555555 !important;
}

.bg-color-grayLight {
  background-color: #999999 !important;
}